/*
###############################################################################
These CSS rules are for the sidebery extension and should be entered into
sidebery's options.

In addition to this css set the following variable values in the style editor
###############################################################################

#root.root {--tabs-activated-bg: #48484dff;}
#root.root {--tabs-indent: 3%;}
#root.root {--bg: #323232;}
#root.root {--ctx-menu-bg: #2a2a2a;}
#root.root {--tabs-bg-active: #6551d9ff;}


/* prevents the pinned tabs panel from overflowing when the sidebar is shrunk */

.PinnedTabsBar {
    flex-wrap: nowrap !important;
}
.PinnedTab {
    flex-shrink: 0;
}


/* colours the text of unread tabs */
.Tab[data-unread="true"] .t-box .title {
    color: rgb(180,200,20);
}
