/* Sidebery modifications */

/* The sidebery-command is a property of the sidebar when sidebery is open */
:root {
  --sidebery-command: "_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action";
  --sidebar-min-width: 33px;
  --sidebar-visible-width: 300px;
}

/* Hides tabs bar when sidebery is enabled */
/* The below string contains an empty unicode character */
#main-window[titlepreface*=" ‎"] #TabsToolbar {
    visibility: collapse !important;
}


/* Sidebar min and max width removal */
#sidebar {
    max-width: none !important;
    min-width: 0px !important;
}

/* Styles the sidebar header */
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] #sidebar-header {
  background-color: inherit;
  overflow: hidden;
}

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] #sidebar-icon {
  padding-right: 10px !important;
  width: 30px !important;
  margin-left: -6px;
}

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:hover #sidebar-icon {
  display: none;
}

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] #sidebar-title {
  padding-left: 0 !important;;
}


/* Disables the sidebar close button when the header is hidden */
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] #sidebar-header:not(:hover) #sidebar-close {
    display: none;
}

/* Shrink sidebar until hovered, when using Sidebery. */

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"],
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] #sidebar-header {
  position: relative !important;
  min-width: var(--sidebar-min-width) !important;
  max-width: var(--sidebar-min-width) !important;
  z-index:1;
}

/* Adds a dark grey border to the right of the sidebar */
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] :-moz-any(#sidebar,#sidebar-header) {
  border-right: 1px solid darkgray;
}

/* Removes the sidebar splitter */
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] + splitter {
  display: none;
}

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:hover :-moz-any(#sidebar,#sidebar-header) {
/*   background-color: var(--toolbar-bgcolor) !important; */
  min-width: var(--sidebar-visible-width) !important;
  max-width: var(--sidebar-visible-width) !important;
  margin-right: calc((var(--sidebar-visible-width) - var(--sidebar-min-width)) * -1) !important;
  z-index:1;
  position: relative !important;
}
